# PostgreSQL
POSTGRES_DB=tsqr_tool_library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Tool Library API
TOOL_LIB_CONNECTION=Host=postgres;Port=5432;Database=tsqr_tool_library;Username=postgres;Password=postgres

# Gateway
TOOL_LIB_BASE_URL=http://tool-lib:8080

# Next.js UI
API_URL=http://gateway:8080
